.imagesContainer {
    grid-template-columns: 1fr 1fr max-content;
}

.horizontalImage {
    height: 100%;
    width: 115px;
}

@media (max-width: 640px) {
    .imagesContainer {
        grid-template-columns: 1fr ;
    } 

    .horizontalImage {
        height: auto;
        width: 100%;
    }
}